a {
    cursor: pointer;
}

a.red {
    color: #f56954;
}
.padding-right-10 {
    padding-right: 10px;
}
.fa.medium {
    font-size: 18px;
}
.height-100 {
    height: 100%;
}

.content-padding {
    padding: 20px;
}

.wrapper-header {
    padding-bottom: 20px;
}

.no-pointer {
    pointer-events: none;
}

.modal-header {
    font-size: 18px;
    font-weight: bold;
    color: #3c8dbc;
}

.pos-rel {
    position: relative;
}

.search-output {
    background: #ddeaf2;
    position: absolute;
    width: 92%;
    padding: 10px;
}

.search-output .item {
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    background: #c1daea;
}