<div class="box" ng-if="vm.user.user_type_id === '1'">
    <div class="box-header">
      <div class="col-sm-6">
        <button type="button" class="btn btn-primary btn-flat" ng-click="vm.addBook()">Add Book</button>
      </div>
      <div class="col-sm-6 input-group input-group-md">
        <input type="text" class="form-control" ng-model="vm.searchFilter">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
            </span>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <th>Publisher</th>
          <th>Date Published</th>
          <th>Pages</th>
          <th>Genre</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in vm.books | filter:vm.searchFilter">
          <td>{{ book.book_isbn }}</td>
          <td>{{ book.book_name }}</td>
          <td>{{ book.book_author }}</td>
          <td>{{ book.book_publisher }}</td>
          <td>{{ book.book_date_published | date:'dd MMMM yyyy' }}</td>
          <td>{{ book.book_pages }}</td>
          <td>{{ book.genre_name }}</td>
          <td>
              <a class="padding-right-10 text-red" ng-if="book.book_is_active === '0'"  ng-click="vm.updateBookStatus(book)">
                <i class="fa fa-toggle-off medium"></i>
                <span class="text-black">Inactive</span>
              </a>
              <a class="padding-right-10 text-green" ng-if="book.book_is_active === '1'"  ng-click="vm.updateBookStatus(book)">
                <i class="fa fa-toggle-on medium"></i>
                <span class="text-black">Active</span>
              </a>
          </td>
          <td>
            <a class="padding-right-10" ng-click="vm.editBook(book)">
              <i class="fa fa-edit medium"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>

  <div class="box" ng-if="vm.user.user_type_id !== '1'">
    <div class="box-body">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Author</th>
          <th>Date Borrowed</th>
          <th>Due Date</th>
          <th>Borrowed</th>
          <th>Returned</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="book in vm.books | filter:vm.searchFilter">
          <td>{{ book.book_isbn }}</td>
          <td>{{ book.book_name }}</td>
          <td>{{ book.book_author }}</td>
          <td>{{ book.borrow_date  | date:'dd MMMM yyyy' }}</td>
          <td ng-class="{'bg-red' : (vm.is_due(book.borrow_due_date)) && (book.borrow_line_qty > book.borrow_line_returned) }" >{{ book.borrow_due_date  | date:'dd MMMM yyyy' }}</td>
          <td>{{ book.borrow_line_qty }}</td>
          <td>{{ book.borrow_line_returned }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>