<div class="box">
    <div class="box-header">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6 input-group input-group-md">
        <input type="text" class="form-control" ng-model="vm.searchFilter">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
            </span>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>Reference #</th>
          <th>Borrower ID</th>
          <th>Title</th>
          <th>Date Borrowed</th>
          <th>Due Date</th>
          <th>Total Books</th>
          <th>Returned</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="borrow in vm.borrows | filter: { borrow_id : vm.searchFilter }">
            <td>{{ borrow.borrow_id}}</td>
            <td>{{ borrow.user_school_id}}</td>
            <td>{{ borrow.user_firstname}} {{ borrow.user_lastname}}</td>
            <td>{{ borrow.borrow_date | date:'dd MMMM yyyy' }}</td>
            <td ng-class="{'bg-red' : (vm.is_due(borrow.borrow_due_date)) && (borrow.total_books_borrowed > borrow.total_books_returned) }">{{ borrow.borrow_due_date | date:'dd MMMM yyyy' }}</td>
            <td>{{ borrow.total_books_borrowed}}</td>
            <td>{{ borrow.total_books_returned}}</td>
          <td>
              <a class="padding-right-10 text-red" ng-if="borrow.borrow_is_active === '0'"  ng-click="vm.updateBorrowStatus(borrow)">
                <i class="fa fa-toggle-off medium"></i>
                <span class="text-black">Inactive</span>
              </a>
              <a class="padding-right-10 text-green" ng-if="borrow.borrow_is_active === '1'"  ng-click="vm.updateBorrowStatus(borrow)">
                <i class="fa fa-toggle-on medium"></i>
                <span class="text-black">Active</span>
              </a>
          </td>
          <td>
            <a class="padding-right-10" ng-click="vm.return(borrow)">
              <i class="fa fa-edit medium"></i>
            </a>
            <a class="padding-right-10" ng-click="vm.print(borrow)">
              <i class="fa fa-print medium"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>