<div class="login-wrapper">
    <div class="login-box">
        <div class="login-logo">
          <a href="#"><b>Library System</a>
        </div>
        <div class="login-box-body">
          <form role="form" ng-submit="vm.login(username, password)">
            <div class="form-group has-feedback">
              <input type="text" ng-model="username" class="form-control" placeholder="Username" required ng-change="vm.errorLogin = false">
              <span class="fa fa-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
              <input type="password" ng-model="password" class="form-control" placeholder="Password" required ng-change="vm.errorLogin = false">
              <span class="fa fa-lock form-control-feedback"></span>
            </div>
            <div class="text-center error" ng-if="vm.errorLogin">
              Username/ Password does not match
            </div>
            <div class="row">
              <div class="col-xs-4 pull-right">
                <button class="btn btn-primary btn-block btn-flat">Sign In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
</div>