<div class="box">
    <div class="box-header">
      <div class="col-sm-6">
        <button type="button" class="btn btn-primary btn-flat" ng-click="vm.addUser()">Add User</button>
      </div>
      <div class="col-sm-6 input-group input-group-md">
        <input type="text" class="form-control" ng-model="vm.searchFilter">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search padding-right-10"></i>Search</button>
            </span>
      </div>
    </div>
    <div class="box-body">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Contact #</th>
          <th>Birthdate</th>
          <th>Gender</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in vm.users | filter:vm.searchFilter">
          <td>{{ user.user_school_id }}</td>
          <td>{{ user.user_username }}</td>
          <td>{{ user.user_firstname }}</td>
          <td>{{ user.user_lastname }}</td>
          <td>{{ user.user_contact }}</td>
          <td>{{ user.user_birth_date | date:'dd MMMM yyyy' }}</td>
          <td>{{ user.user_gender }}</td>
          <td>{{ user.user_type_role }}</td>
          <td>
            <a class="padding-right-10 text-gray" ng-click="vm.resetPassword(user)">
              <i class="fa fa-lock medium"></i>
            </a>
            <a class="padding-right-10" ng-click="vm.editUser(user)">
              <i class="fa fa-edit medium"></i>
            </a>
            <a class="red padding-right-10" ng-click="vm.deleteUser(user.user_id)">
              <i class="fa fa-trash medium"></i>
            </a>
            <a class="text-purple padding-right-10" ng-click="vm.newBorrow(user)">
              <i class="fa fa-plus medium"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>