<div>
  <form role="form" ng-submit="vm.form.borrow_lines.length && vm.add(vm.form)">
    <div>
      <div class="form-group col-md-6">
        <label>Borrow Date</label>
        <input type="date" class="form-control" ng-model="vm.form.borrow_date" ng-required="true">
      </div>
      <div class="form-group col-md-6">
        <label>Due Date</label>
        <input type="date" class="form-control" ng-model="vm.form.borrow_due_date" ng-required="true">
      </div>
    </div>
    
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <ng-form>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>ISBN</th>
                      <th>QTY</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="borrow_line in vm.form.borrow_lines">
                      <td class="pos-rel">
                        <input class="form-control" ng-model="borrow_line.selectedBook.book_isbn"  ng-change="vm.borrow_line.hasSelectedBook = false;"/> 
                        <div class="search-output" ng-if="borrow_line.selectedBook.book_isbn && !borrow_line.hasSelectedBook">
                          <div class="item" ng-repeat="book in vm.books | filter: vm.searchData(borrow_line.selectedBook.book_isbn) as filteredBooks" ng-click="vm.selectBook(book, borrow_line)" >
                            <span class="text-bold">{{book.book_isbn}}</span> - {{book.book_name}}
                          </div>
                          <div ng-if="!filteredBooks.length">No results</div>
                        </div>
                      </td>
                      <td>
                        <input type="number" min="1" class="form-control" ng-model="borrow_line.borrow_line_qty" required/></td>
                      <td>
                        <input ng-click="vm.remove($index)" ng-hide="!vm.form.borrow_lines.length" type="button" class="btn btn-danger pull-right" value="Remove">
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-group">
                  <a ng-click="vm.addNew(borrow_line)" class="btn btn-primary pull-left">Add Book</a>
                </div>
              </ng-form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>