<div>
  <form role="form" ng-submit="!vm.isInvalidPassword && vm.addUser(vm.form)">
    <div class="form-group">
      <label>School ID#</label>
      <input type="text" class="form-control" ng-model="vm.form.user_school_id" ng-required="true">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" ng-model="vm.form.user_firstname" ng-required="true">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" ng-model="vm.form.user_lastname" ng-required="true">
    </div>
    <div class="form-group">
      <label>Contact No.</label>
      <input type="text" class="form-control" ng-model="vm.form.user_contact" ng-required="true">
    </div>
    <div class="form-group">
      <label>Birthdate</label>
      <input type="date" class="form-control" ng-model="vm.form.user_birth_date" ng-required="true">
    </div>
    <div class="form-group">
      <label>Gender</label>
      <select class="form-control" ng-model="vm.form.user_gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" ng-model="vm.form.user_username" ng-required="true">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" ng-change="vm.checkPassword(vm.form.user_password, vm.passwordChecker)" ng-model="vm.form.user_password" ng-required="true">
    </div>
    <div class="form-group" ng-class="{'has-error' : vm.isInvalidPassword }">
      <label>Re-type Password</label>
      <input type="password" class="form-control" ng-change="vm.checkPassword(vm.form.user_password, vm.passwordChecker)" ng-model="vm.passwordChecker" ng-required="true">
      <span class="help-block" ng-if="vm.isInvalidPassword">Password does not match</span>
    </div>
    <div class="form-group">
      <label>Role</label>
      <select class="form-control" 
          ng-required="true"
          ng-model="vm.form.user_type_id"
          ng-options="user.user_type_id as user.user_type_role for user in  vm.userTypes">
          <option></option>
      </select>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>