<div>
  <form role="form" ng-submit="vm.add(vm.form)">
    <div class="form-group">
      <label>ISBN</label>
      <input type="text" class="form-control" ng-model="vm.form.book_isbn" ng-required="true">
    </div>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" ng-model="vm.form.book_name" ng-required="true">
    </div>
    <div class="form-group">
      <label>Author</label>
      <input type="text" class="form-control" ng-model="vm.form.book_author" ng-required="true">
    </div>
    <div class="form-group">
      <label>Publisher</label>
      <input type="text" class="form-control" ng-model="vm.form.book_publisher" ng-required="true">
    </div>
    <div class="form-group">
      <label>Date Published</label>
      <input type="date" class="form-control" ng-model="vm.form.book_date_published" ng-required="true">
    </div>
    <div class="form-group">
      <label>Pages</label>
      <input type="number" class="form-control" ng-model="vm.form.book_pages" ng-required="true">
    </div>
    <div class="form-group">
      <label>Genre</label>
      <select class="form-control" 
          ng-required="true"
          ng-model="vm.form.genre_id"
          ng-options="genre.genre_id as genre.genre_name for genre in  vm.genres">
          <option></option>
      </select>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>