<div>
  <form role="form" ng-submit="vm.editUser(vm.userEditData)">
    <div class="form-group">
      <label>School ID#</label>
      <input type="text" class="form-control" ng-model="vm.userEditData.user_school_id" ng-required="true">
    </div>
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" ng-model="vm.userEditData.user_firstname" ng-required="true">
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" ng-model="vm.userEditData.user_lastname" ng-required="true">
    </div>
    <div class="form-group">
      <label>Contact No.</label>
      <input type="text" class="form-control" ng-model="vm.userEditData.user_contact" ng-required="true">
    </div>
    <div class="form-group">
      <label>Birthdate</label>
      <input type="date" class="form-control" ng-model="vm.userEditData.user_birth_date" ng-required="true">
    </div>
    <div class="form-group">
      <label>Gender</label>
      <select class="form-control" ng-model="vm.userEditData.user_gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" ng-model="vm.userEditData.user_username" ng-required="true">
    </div>
    <div class="form-group">
      <label>Role</label>
      <select class="form-control" 
          ng-required="true"
          ng-model="vm.userEditData.user_type_id"
          ng-options="user.user_type_id as user.user_type_role for user in  vm.userTypes">
          <option></option>
      </select>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>