<div>
  <form role="form" ng-submit="vm.save(vm.form, vm.form.borrow_lines)">
    <div>
      <div class="form-group col-md-6">
        <label>Borrow Date</label>
        <input type="date" class="form-control" ng-model="vm.form.borrow_date" ng-required="true" ng-disabled="true">
      </div>
      <div class="form-group col-md-6">
        <label>Due Date</label>
        <input type="date" class="form-control" ng-model="vm.form.borrow_due_date" ng-required="true" ng-disabled="true">
      </div>
    </div>
    
    <div class="">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <ng-form>
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>ISBN</th>
                      <th>Title</th>
                      <th>Borrowed</th>
                      <th>Return</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="borrow_line in vm.form.borrow_lines">
                      <td class="pos-rel">
                        <input class="form-control" ng-model="borrow_line.book_isbn" required ng-disabled="true"/>
                      </td>
                      <td>
                        <input class="form-control" ng-model="borrow_line.book_name" required  ng-disabled="true"/></td>
                      <td>
                        <input class="form-control" ng-model="borrow_line.borrow_line_qty" required  ng-disabled="true"/></td>
                      <td>
                        <input class="form-control" ng-model="borrow_line.borrow_line_returned" required/></td>
                    </tr>
                  </tbody>
                </table>
              </ng-form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>